.story-library{
  @media (min-width: $screen-sm) {
    margin-left: 150px;
    margin-right:150px;
  }

}
.col-container{
  padding-left: 0px;
  padding-right: 0px;
}
.story-library-item{
  display: flex;
  margin: 1em;
  border-bottom: 0.15em solid #333;
}

.book-cover{
  padding-left: 10px;
  padding-right: 5px;
  @media (min-width: $screen-sm) {
    padding-left: 0px;
    padding-right: 0px;
    &:hover{
      border:solid 3px $theme-1;
    }
  }
}

.book-info{
  padding-left: 0px;
  font-size: ceil(($font-size-base * 0.85));
  p{
    margin-bottom: 2px;
  }
  @media (min-width: $screen-sm) {
    padding-left: 10px;
  }
  .form-group{
    @media (min-width: 768px) {
      width: 80%;
    }
  }
}

#story-title{
  font-size: ceil(($font-size-base * 1.25));
  border-bottom: 0.15em solid #333;
  text-align:left;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.story-description{
  font-size: ceil(($font-size-base * 0.85));
  padding-left: 24px;
}

.boxes{
  background-color: rgba(255, 255, 255, 0.4);
  @media (min-width: $screen-sm) {
    padding: 2px;
    display: flex;
  }
}

.lower-box{
  margin-top: 35px;
  display: flex;
  @media (min-width: $screen-sm) {
    margin-top:0px;
  }
}
.fa{
  @extend .lower-box;
  margin-right: 2px;
}
.extra {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
  font-size: ceil(($font-size-base * 0.85));
  #extra-title{
  padding-left: 3px;
  font-size: $font-size-base;
  }
  .form-horizontal{
  border:none;
  }
  .form-group{
  margin-left: 3px;
  display:block;
  font-family:$font-family-base;
  font-size: ceil(($font-size-base));
  }
  .submit-button{
  font-family:$font-family-base;
  width:95%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  font-size: $font-size-base;
  }
  .form-control{
  width: 90%;
  }
}
