<h1>Fifty Shades of Pink</h1>
<p>Welcome! We've been waiting to tell your story!</p>

<form action='/chapter/1' method='post'>
  <div>
    My name is <input type='text' name='user.name'>
  </div>
  <div>
    I am a <input type='radio' name='user.gender'>woman <input type='radio' name='user.gender'> man
  </div>
  <div>
    My lover's name is <input type='text' name='lover.name'>
  </div>
  <div>
    My lover is a <input type='radio' name='lover.gender'>woman <input type='radio' name='lover.gender'> man
  </div>
  <div>
    <input type='submit' value='Read My Story!'>
</form>
