body {
  text-align: center;
}

/* Header for entire site */
.site-header {
  background-color: rgb(255, 0, 0);opacity:0.2;
}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color:hotpink;
}

/* /stories/single chapter layout */
.chapter-header

.chapter-nav button {
  margin-left: 1em;
  margin-right: 1em;
}

.story-container {
  margin:auto;
  width:50%;
  font-size: 1.2em
}

/* /story-library page layout */
.row {
  display: flex;
  justify-content: center;
}

.story-library-item {
  width:20%;
}

.bookcover {
  margin: auto;
  width: 251px;
  height: 428px;
  overflow: hidden;
}

.story-description {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}
